body {
   /* background-color: black;*/
   background-image: url(C:\Users\jezza\fetch-hackathon-xx-lawless-xx\pokémon-pics\background.jpg) ;
   background-color: #D8EC17;
   font-size: 20px;
   text-align: center;
}

#main-header {
    color: black;
}

.button {
    display: none;
    text-align: center;
}

.split {
    height: 400px;
    width: 49%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 100px;
    border: 1px solid black;
}

.left {
    left: 0;
   /* background-color: #111;*/
   float: left;
  
  };

  .right {
    right: 0;
    background-color:red;
    float: left;
    padding-top: 3000px

  };
